In [3]:
print("Hello World")

Hello World

In [5]:
print(3+8)#3+8의 결과

11

In [7]:
#3+8의 결과
print(3+8)

11

In [10]:
print(3+5)

8

In [12]:
print(3-5)
print(3*5)
print(3/5)
print(3%5)
print(3**5)

-2
15
0.6
3
243

In [14]:
n='강아지'
print(n)

강아지

In [16]:
n='고양이'
print(n)

고양이

In [18]:
print('n')

n

In [21]:
n = 3+7
print(n)

10

In [1]:
x=1
print(x)
x = x+1
print(x)

1
2

In [4]:
p="서울"+"시"
print(p)
print(p + "출신")

p="서울"
print("나는" + p + "출신입니다")

서울시
서울시출신
나는서울출신입니다

In [6]:
height = 177
print("신장은 " + height + "cm입니다")

TypeError: can only concatenate str (not "int") to str

In [8]:
type(h)
type(w)
bmi = w/(h*2)
type(bmi)

NameError: name 'h' is not defined

In [11]:
h = 1.7
w = 60
type(h)
type(w)
bmi = w/(h**2)
type(bmi)
print(bmi)

20.761245674740486

In [13]:
h = 177
print("신장은 " + str(177) + "cm입니다")

신장은 177cm입니다

In [15]:
greeting = "hi!"
print(greeting * 2)

hi!hi!

In [17]:
print(1+1 == 3)

False

In [19]:
print(6+4 != -10)

True

In [22]:
n = 2
if n == 2:
    print("당신은 " + str(n) + "번째로 도착하셨습니다.")

당신은 2번째로 도착하셨습니다.

In [24]:
animal = "cat"
if animal == "cat":
    print("고양이가 귀엽네요.")

고양이가 귀엽네요.

In [26]:
n = 16
    if n>15:
        print("큰 숫자")

IndentationError: unexpected indent (<ipython-input-26-62677cbaba56>, line 2)

In [28]:
n = 16
if n>15:
    print("큰 숫자")

큰 숫자

In [29]:
n = 2
if n == 1:
    print("우승을 축하합니다")
else:
    print("아쉽습니다...")

아쉽습니다...

In [32]:
n = 14
if n>15:
    print("큰 숫자")
else:
    print("작은 숫자")

작은 숫자

In [34]:
number = 2

if number == 1:
    print("금메달")
elif number == 2:
    print("은메달")
elif number == 3:
    print("동메달")
else:
    print("아쉽습니다.")

은메달

In [37]:
n = 14

if n>=15:
    print("큰 숫자")
elif n<=11:
    print("작은 숫자")
else:
    print("중간 숫자")

중간 숫자

In [41]:
n_1 = 14
n_2 = 28

print(n_1 > 8 and n_1 < 14)
print(not (n_1 ** 2) < (n_2*5))

False
True

In [44]:
y = 2000

if y%400 != 0 and y%100 == 0:
    print(str(y) + " 년은 평년입니다")
elif y%4 == 0:
    print(str(y) + " 년은 윤년입니다.")
else:
    print(str(y) + " 년은 평년입니다.")

2000 년은 윤년입니다.

In [5]:
 #3+8의 결과를 출력합니다
print(3+8

SyntaxError: unexpected EOF while parsing (<ipython-input-5-1a4b158fe48a>, line 3)

In [8]:
p = '서울'
print("나는 " + p + "에 삽니다.")

나는 서울에 삽니다.

In [11]:
h = 1.7
w = 60

#변수 h,w의 자료형을 출력하세요
print(type(h))
print(type(w))

#변수 bmi에 비만도 지수 결과를 대입하세요
bmi = w / (h**2)
print(bmi)
print(type(bmi))

<class 'float'>
<class 'int'>
20.761245674740486
<class 'float'>

In [13]:
h = 1.7
w = 60
bmi = w / h**2

print("당신의 bmi는 " + str(bmi))

당신의 bmi는 20.761245674740486

In [14]:
print()

In [16]:
print(4+6 != -10)

True

In [19]:
n = 16
if(n > 15):
    print("큰 숫자")

큰 숫자

In [21]:
animal = "cat"
if animal == "cat":
    print("고양이가 귀엽네요")
else:
    print("고양이가 아니네요")

고양이가 귀엽네요

In [23]:
number = 2

if number == 1:
    print("1등입니다")
elif number == 2:
    print("2등입니다")
elif number== 3:
    print("3등입니다")
else:
    print("탈락입니다...")

2등입니다

In [25]:
n = 14

if n>15:
    print("큰 숫자")
elif n>=11:
    print("중간 숫자")
else:
    print("작은 숫자")

중간 숫자

In [27]:
n_1 = 14
n_2 = 28

print(n_1 > 8 and n_1 < 14)

print(not n_1**2 < n_2*5)

False
True

In [31]:
year = 2022

if(year%400 != 0 and year%100 == 0):
    print(str(year) + "은 평년입니다")
elif(year%4 == 0):
    print(str(year) + "은 윤년입니다")
else:
    print(str(year) + "은 평년입니다")

2022은 평년입니다

In [33]:
c = ["red", "blue", "yellow"]
print(c)

['red', 'blue', 'yellow']

In [35]:
n = 3
print(["사과", n, "고릴라"])

['사과', 3, '고릴라']

In [37]:
apple = 4
grape = 3
banana = 6

fruits = [apple, grape, banana]

print(fruits)

[4, 3, 6]

In [39]:
print([[1,2],[3,4],[5,6]])

[[1, 2], [3, 4], [5, 6]]

In [41]:
fruits_name_1 = "사과"
fruits_num_1 = 2
fruits_name_2 = "귤"
fruits_num_2 = 10

fruits = [[fruits_name_1, fruits_num_1], [fruits_name_2, fruits_num_2]]

print(fruits)

[['사과', 2], ['귤', 10]]

In [43]:
a = [1,2,3,4]
print(a[1])
print(a[-2])

2
3

In [45]:
fruits = ["apple", 2, "orange", 4, "grape", 3, "banana", 1]

#두번째 요소
print(fruits[1])

#마지막 요소
print(fruits[-1])

2
1

In [47]:
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(alphabet[1:5])
print(alphabet[1:-5])
print(alphabet[:5])
print(alphabet[6:])
print(alphabet[0:20])

['b', 'c', 'd', 'e']
['b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [49]:
chaos = ["cat", "apple", 2, "orange", 4, "grape", 3, "banana", 1, "elephant", "dog"]

fruit = chaos[1:9]

print(fruit)

['apple', 2, 'orange', 4, 'grape', 3, 'banana', 1]

In [52]:
alphabet = ["a", "b", "c", "d", "e"]
alphabet[0] = "A"
alphabet[1:3] = ["B", "C"]
print(alphabet)

alphabet = alphabet + ["f"]
alphabet += ["g", "h"]
alphabet.append("i")
print(alphabet)

['A', 'B', 'C', 'd', 'e']
['A', 'B', 'C', 'd', 'e', 'f', 'g', 'h', 'i']

In [54]:
c = ["dog", "blue", "yellow"]

c[0] = "red"

c.append("green")

print(c)

['red', 'blue', 'yellow', 'green']

In [56]:
alphabet = ["a", "b", "c", "d", "e"]

del alphabet[3:]
del alphabet[0]
print(alphabet)

['b', 'c']

In [59]:
c = ["dog", "blue", "yellow"]
print(c)

del c[0]

print(c)

['dog', 'blue', 'yellow']
['blue', 'yellow']

In [62]:
alphabet = ["a", "b", "c"]
alphabet_copy = alphabet
alphabet_copy[0] = "A"
print(alphabet)

['A', 'b', 'c']

In [64]:
alphabet = ["a", "b", "c"]
alphabet_copy = alphabet[:]
alphabet_copy[0] = "A"
print(alphabet)

['a', 'b', 'c']

In [66]:
c = ["red", "blue", "yellow"]

c_copy = c[:]

c_copy[1] = "green"

print(c)

['red', 'blue', 'yellow']

In [67]:
dic = {"Japan" : "Tokyp}

SyntaxError: EOL while scanning string literal (<ipython-input-67-815e785e5163>, line 1)

In [69]:
dic = {"Japan" : "Tokyo", "Korea" : "Seoul"}
print(dic)

{'Japan': 'Tokyo', 'Korea': 'Seoul'}

In [72]:
town = {"경기도" : "수원", "서울" : "중구"}
print(town)

{'경기도': '수원', '서울': '중구'}

In [75]:
town = {"경기도" : "수원", "서울" : "중구"}

print("경기도의 중심 도시는 " + town["경기도"])

경기도의 중심 도시는 수원

In [77]:
dic = {"Japan" : "Tokyo", "Korea" : "Soul"}
dic["Korea"] = "Seoul"
dic["China"] = "Beijin"
print(dic)

{'Japan': 'Tokyo', 'Korea': 'Seoul', 'China': 'Beijin'}

In [80]:
town = {"경기도" : "수원", "서울" : "중구"}

town["제주도"] = "제주시"

town["경기도"] = "분당"

del town["경기도"]

print(town)

{'서울': '중구', '제주도': '제주시'}

In [2]:
n = 2
while n > 0:
    print(n)
    n-=1

2
1

In [11]:
x = 5
while x != 0:
    x -= 1
    print(x)
if x==0:
    print("Bang")

4
3
2
1
0
Bang

In [13]:
x=5
while x !=0:
    x-=1
    if x != 0:
        print(x)
    else:
        print("Bang")

4
3
2
1
Bang

In [15]:
animals = ["tiger", "dog", "elephant"]
for animal in animals:
    print(animal)

tiger
dog
elephant

In [17]:
storages = [1,2,3,4]

for storage in storages:
    print(storage)

1
2
3
4

In [18]:
storages = [1,2,3,4,5,6,7,8,9,10]
for n in storages:
    print(n)
    if n >= 5:
        print("끝")
        break

1
2
3
4
5
끝

In [20]:
storages = [1,2,3,4,5,6]
for n in storages:
    print(n)
    if n == 4:
        break

1
2
3
4

In [22]:
storages = [1,2,3]
for n in storages:
    if n == 2:
        continue
    print(n)

1
3

In [24]:
storages = [1,2,3,4,5,6]

for n in storages:
    if n%2 == 0:
        continue
    print(n)

1
3
5

In [27]:
list = ["a", "b"]
for index, value in enumerate(list):
    print(index, value)

0 a
1 b

In [30]:
animals = ["tiger", "dog", "elephant"]
for index, value in enumerate(animals):
    print(index, value)

0 tiger
1 dog
2 elephant

In [32]:
list = [[1,2,3],[4,5,6]]
for a, b, c in list:
    print(a,b,c)

1 2 3
4 5 6

In [37]:
fruits = [["strawberry", "red"],
         ["peach", "pink"],
         ["banana", "yellow"]]
for a,b in fruits:
    print(a + " is " + b)

strawberry is red
peach is pink
banana is yellow

In [40]:
fruits = {"strawberry" : "red", "peach" : "pink", "banana" : "yellow"}
for fruits, color in fruits.items():
    print(fruits + " is " + color)

strawberry is red
peach is pink
banana is yellow

In [42]:
town = {"경기도" : "분당", "서울" : "중구", "제주도" : "제주시"}
for tw, city in town.items():
    print(tw, city)

경기도 분당
서울 중구
제주도 제주시

In [7]:
#상품의 가격과 개수, 지불 금액과 거스름돈을 표시하는 프로그램

items = {"지우개" : [100, 2], "펜" : [200, 3], "노트" : [400,5]}
total_price = 0

for item in items:
        print(item + "(은)는 한 개에 " + str(items[item][0]) + "원이며 " + str(items[item][1]) + "개 구입합니다.")

total_price = items[item][0] * items[item][1]

#지불해야 할 금액은 ** 원입니다
print("지불해야 할 금액은 " + str(total_price) + "원입니다")

money = 20000

if(money > total_price):
    print("거스름돈은 " + str(money - total_price) + "원입니다")
elif(money == total_price):
    print("거스름돈은 없습니다")
else:
    print("돈이 부족합니다!!")

지우개(은)는 한 개에 100원이며 2개 구입합니다.
펜(은)는 한 개에 200원이며 3개 구입합니다.
노트(은)는 한 개에 400원이며 5개 구입합니다.
지불해야 할 금액은 2000원입니다
거스름돈은 18000원입니다