In [3]:
#len method

len("tomato")
len([1,2,3])

#len(3)
#len(2.1)
#len(True)

3

In [6]:
vege = "potato"
n = [4,5,6,7,8]

print(len(vege))
print(len(n))

6
5

In [9]:
#append method

alphabet = ['a', 'b', 'c', 'd', 'e']
alphabet.append("f")
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f']

In [12]:
#sorted / sort method

number = [1,2,4,6,3]
print(sorted(number))
print(number)

number.sort()
print(number)

[1, 2, 3, 4, 6]
[1, 2, 4, 6, 3]
[1, 2, 3, 4, 6]

In [15]:
alphabet = ["b", "a", "e", "c", "d"]
sorted(alphabet)
print(alphabet)

alphabet = ["b", "a", "e", "c", "d"]
alphabet.sort()
print(alphabet)

['b', 'a', 'e', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [18]:
#upper&count method

city = "Tokyo"
print(city.upper())
print(city.count("o"))

TOKYO
2

In [20]:
animal = "elephant"
animal_big = animal.upper()

print(animal)
print(animal_big)
print(animal.count("e"))

elephant
ELEPHANT
2

In [28]:
#format method

print("I was born in {} and raised in {}.".format("Daegu", "Seoul"))

fruit = "banana"
color = "yellow"
print("{} is {}".format(fruit, color))

I was born in Daegu and raised in Seoul.
banana is yellow

In [30]:
#index method

alphabet = ["a", "b", "c", "d", "d"]
print(alphabet.index("a"))
print(alphabet.count("d"))

0
2

In [32]:
n = [3, 6, 8, 6, 3, 2, 4, 6]

print(n.index(2))
print(n.count(6))

5
3

In [34]:
#reverse() method

list = ["가", "나", "다", "라", "마"]
list.reverse()
print(list)

['마', '라', '다', '나', '가']

In [37]:
n = [53, 26, 37, 69, 24, 2]

n.sort()
print(n)
n.reverse()
print(n)

[2, 24, 26, 37, 53, 69]
[69, 53, 37, 26, 24, 2]

In [40]:
#define method

def sing():
    print("Let's sing")

sing()

Let's sing

In [42]:
def introduce():
    print("I'm Emily")

introduce()

I'm Emily

In [47]:
#parameter

def introduce(n):
    print("I'm " + n)

introduce("John")

I'm John

In [49]:
def cube_cal(n):
    print(n**3)

cube_cal(8)

512

In [52]:
#initialization

def introduce(first, second):
    print("My first name is " + first + " and the second name is " + second)
    
introduce("Emily", "Dickinson")

My first name is Emily and the second name is Dickinson

In [55]:
def introduce(n, age):
    print("My name is " + n + ", " + str(age) + " yrs old")

introduce("Yoon", 25)

My name is Yoon, 25 yrs old

In [57]:
def introduce(first = "Kim", second = "Minji"):
    print(first + second)

introduce("Yoon")

YoonMinji

In [62]:
def introduce(age = 17, n = "Kim"):
    print("My name is " + n + " and " + str(age) + "years old")

introduce()

My name is Kim and 17years old

In [3]:
#return

def introduce(first = "Kim", second = "kildong"):
    comment = "First name : " + first + ", Second name : " + second
    return comment

print(introduce("Hong"))

First name : Hong, Second name : kildong

In [5]:
def bmi(height, weight):
    return weight / height**2

print(bmi(1.65, 65))

23.875114784205696

In [7]:
#import method

import time

now_time = time.time()

print(now_time)

1648124216.7465193

In [8]:
from time import time

now_time = time()

print(now_time)

1648124236.0718489